#footer {
background-color:#fff;
border-top:1px solid;
height:300px;
width:100%;
}

#footer .row {
padding-bottom:30px;
padding-top:30px;
}

#footer hr {
color:#000;
}

#footer .col-md-4 {
float:right;
}

.button1 {
border-radius:0;
text-align:left;
color:#fff;
background-color:#4e79a0;
margin:5px;
}

.button1:hover {
background-color:#465a6c;
color:#fff;
}

#footer span {
height:30px!important;
width:200px!important;
margin:1px;
padding:5px 4px;
}

#footer span a {
text-decoration:none;
color:#fff;
height:100%;
width:100%;
}

#footer span i {
float:right;
margin-top:3px;
}

#footer strong,#footer address strong {
font-size:30px;
}

@media (min-width: 200px) and (max-width: 440px) {
#footer .row {
padding-bottom:5px;
padding-top:5px;
}

hr {
margin-top:3px;
margin-bottom:3px;
}
#footer strong,#footer address strong {
font-size:20px;
}
}

@media (min-width: 441px) {
#footer .row {
padding-bottom:15px;
padding-top:15px;
}

hr {
margin-top:10px;
margin-bottom:10px;
}
}