﻿#main_div_1
{
	border-bottom:1px solid;
	border-top:1px solid;
	border-color:#D7D5D5
}

#main_div_1 a
{
	font-size:20px
}
#main_div_1 img{
    float: right;
}
#main_div_1 .col-md-6 h2
{
	font:25px Verdana,solid;
	font-size:25px;
	padding-top:100px;
	color:#3d4955
}

.button
{
	padding-left:30px;
	padding-right:30px;
	border-radius:0
}

#main_div_2
{
	padding-bottom:50px;
	padding-top:50px;
	height:312px
}

#main_div_2 .col-md-4
{
	text-align:center
}

#main_div_2 .col-md-4 i
{
	color:#183147
}

#main_div_2 .col-md-4 a
{
	text-decoration:none
}

#main_div_2 .col-md-4 h3
{
	color:#183147;
	font:35px Verdana,solid
}

#main_div_3
{
	padding-bottom:50px;
	padding-top:50px;
	border-top:1px solid;
	border-color:#D7D5D5;
	width:100%
}

#main_div_3 .row
{
	height:25px
}

#main_div_3 .col-md-4
{
	height:100%
}

.panel-body
{
	color:#183147
}

.titleee
{
	width:100%;
	height:25px;
	background-color:#183147;
	border-radius:2px
}

.titleee_active
{
	background-color:#f0ba4b
}

#main_div_3 .panel
{
	margin-top:10px;
	border-top-right-radius:2px;
	border-top-left-radius:2px
}

#main_div_3 ul
{
	font-size:22px
}

@media (min-width: 200px) and (max-width: 440px) {
	#main_div_1
	{
		border-bottom:1px solid;
		border-top:1px solid;
		border-color:#D7D5D5
	}
	
	#main_div_1 img
	{
		height:190px
	}
	
	#main_div_1 .col-md-6 h2
	{
		font-size:18px!important
	}
	
	#main_div_1 a
	{
		font-size:12px
	}
	
	#main_div_2
	{
		height:650px;
		margin-top:10px;
		margin-bottom:10px;
		padding-top:0;
		padding-bottom:0
	}
	
	#page_title
	{
		padding-top:15px;
		padding-bottom:15px
	}
	
	#main_div_3 .row
	{
		display:none
	}
	
	#main_div_3 ul
	{
		font-size:14px
	}
}

@media (min-width: 441px) and (max-width: 767px) {
	#main_div_1
	{
		border-bottom:1px solid;
		border-top:1px solid;
		border-color:#D7D5D5
	}
	
	#page_title
	{
		padding-top:20px;
		padding-bottom:20px
	}
	
	#main_div_1 img
	{
		height:340px
	}
	
	#main_div_1 .col-md-6 h2
	{
		font-size:18px!important;
		padding-top:340px
	}
	
	#main_div_1 a
	{
		font-size:16px
	}
	
	.button
	{
		padding-left:20px;
		padding-right:20px;
		border-radius:0
	}
	
	#main_div_2
	{
		height:auto;
		padding-bottom:20px;
		padding-top:20px
	}
	
	#main_div_2 .col-md-4
	{
		padding-right:0;
		padding-left:0;
		float:left;
		width:33.33%
	}
	
	#main_div_2 .col-md-4 h3
	{
		font-size:20px
	}
	
	#main_div_3
	{
		padding-bottom:20px;
		padding-top:20px
	}
	
	#main_div_3 .row
	{
		margin-right:-5px;
		margin-left:-5px
	}
	
	#main_div_3 .col-md-4
	{
		padding-right:5px;
		padding-left:5px;
		float:left;
		width:33.33%
	}
	
	#main_div_3 ul
	{
		font-size:16px
	}
}

@media (min-width: 768px) and (max-width: 980px) {
	#main_div_1
	{
		border-bottom:1px solid;
		border-top:1px solid;
		border-color:#D7D5D5
	}
	
	#page_title
	{
		padding-top:20px;
		padding-bottom:20px
	}
	
	#main_div_1 img
	{
		height:250px
	}
	
	#main_div_1 .col-md-6 h2
	{
		font-size:18px!important;
		padding-top:73px
	}
	
	#main_div_1 a
	{
		font-size:16px
	}
	
	.button
	{
		padding-left:20px;
		padding-right:20px;
		border-radius:0
	}
	
	#main_div_2
	{
		height:auto;
		padding-bottom:20px;
		padding-top:20px
	}
	
	#main_div_2 .col-md-4
	{
		padding-right:0;
		padding-left:0;
		float:left;
		width:33.33%
	}
	
	#main_div_2 .col-md-4 h3
	{
		font-size:20px
	}
	
	#main_div_3
	{
		padding-bottom:20px;
		padding-top:20px
	}
	
	#main_div_3 .row
	{
		margin-right:-5px;
		margin-left:-5px
	}
	
	#main_div_3 .col-md-4
	{
		padding-right:5px;
		padding-left:5px;
		float:left;
		width:33.33%
	}
	
	#main_div_3 ul
	{
		font-size:16px
	}
}

@media (min-width: 980px) {
	#main_div_1
	{
		border-bottom:1px solid;
		border-top:1px solid;
		border-color:#D7D5D5
	}
	
	#main_div_1 img
	{
		height:270px!important
	}
	
	#main_div_1 .col-md-6 h2
	{
		font-size:18px!important;
		padding-top:70px
	}
	
	#main_div_1 a
	{
		font-size:16px
	}
}

@media(min-width: 1200px) {
	#main_div_1 img
	{
		height:330px!important
	}
	
	#main_div_1 .col-md-6 h2
	{
		font-size:30px!important;
		padding-top:75px;
		padding-right:50px;
		padding-left:50px
	}
}

@media(min-width: 1500px) {
	#main_div_1 img
	{
		height:440px!important
	}
	
	#main_div_1 .col-md-6 h2
	{
		font-size:40px!important;
		padding-top:75px
	}
}

@media(min-width: 1800px) {
	#main_div_1 img
	{
		height:710px!important
	}
	
	#main_div_1 .col-md-6 h2
	{
		font-size:40px!important;
		padding-top:75px
	}
	
	#main_div_1 .col-md-6
	{
		padding-top: 150px;
		padding-right:20%
	}
}