body {
overflow-x:hidden;
font-family:Gibson,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:14px;
line-height:1.42857;
color:#3d4955;
}

h1,.h1,h2,.h2,h3,.h3 {
margin-top:10px;
margin-bottom:10px;
color:#3d4955;
}

h1 {
font-size:35px;
margin-top:10px;
margin-bottom:10px;
}

h2 {
font-size:27px;
margin-top:7px;
margin-bottom:7px;
}

h3 {
font-size:22px;
margin-top:7px;
margin-bottom:7px;
line-height:1.5;
}

h4 {
font-size:20px;
}

h5 {
font-size:18px;
}

a {
color:#183147;
}

a:hover {
color:#B42020;
}

.button {
color:#f0ba4b;
background-color:#183147;
}

.button:hover {
color:#183147;
background-color:#f0ba4b;
}

.wrap {
width:100%;
}

#main {
/*min-height:960px;*/
width:100%;
background-color:#eee;
}

.bgr-color1 {
background-color:#4e79a0!important;
}

.bgr-color2 {
background-color:#465a6c!important;
}

#page_title {
padding-top:25px;
padding-bottom:25px;
background-color:#eee;
}

@media (min-width:200px) and (max-width: 440px) {
h1 {
font-size:22px !important;
}

h2 {
font-size:18px;
}

h3 {
font-size:16px;
}

h4 {
font-size:14px;
}

h5 {
font-size:12px;
}
}

@media (min-width: 441px) and (max-width: 980px) {
h1 {
font-size:24px;
}

h2 {
font-size:20px;
}

h3 {
font-size:18px;
}

h4 {
font-size:16px;
}

h5 {
font-size:14px;
}
}

@media (min-width: 980px) {
h1 {
font-size:26px;
}

h2 {
font-size:22px;
}

h3 {
font-size:20px;
}

h4 {
font-size:18px;
}

h5 {
font-size:16px;
}
}

@media (min-width: 1200px) {
h1 {
font-size:26px;
}

h2 {
font-size:22px;
}

h3 {
font-size:20px;
}

h4 {
font-size:18px;
}

h5 {
font-size:16px;
}
}

@media (min-width: 1500px) {
h1 {
font-size:36px;
}

h2 {
font-size:28px;
}

h3 {
font-size:26px;
}

h4 {
font-size:24px;
}

h5 {
font-size:22px;
}
}

@media (min-width: 1800px) {
h1 {
font-size:40px;
}

h2 {
font-size:36px;
}

h3 {
font-size:30px;
}

h4 {
font-size:28px;
}

h5 {
font-size:26px;
}
}