#main_navi .nav
{
	float:right
}

.del_margin
{
	margin-bottom:0
}

#main_navi .navbar-header button
{
	margin-top:30px;
	color:#183147
}

#main_navi
{
	padding-bottom:20px;
	border-bottom:1px solid;
	background-color:#fff
}

#main_navi .navbar-nav li:hover
{
	background-color:#fff
}

#main_navi #responsive-menu ul
{
	padding-top:25px
}

#main_navi #responsive-menu a
{
	text-transform:uppercase;
	color:#3d4955;
	font-size:14px;
	line-height:18px;
	font-weight:600;
	letter-spacing:1.6px
}

#main_navi #responsive-menu a:hover
{
	color:#B42020;
	border-radius:4px
}

#main_navi #dropdown_menu
{
	font:15px Arial,serif
}

#login
{
	display:none
}

#login .row
{
	padding-right:15px;
	padding-top:15px
}

#login form
{
	float:right
}

@media (min-width: 200px) and (max-width: 440px) {
	#main_navi
	{
		margin-top:10px;
		margin-right:5px;
		margin-left:5px;
		padding-bottom:5px
	}
	
	#main_navi #responsive-menu ul
	{
		padding-top:0!important;
		text-align:left;
		width:100%
	}
	
	#main_navi button
	{
		margin-bottom:0;
		margin-top:5px!important;
		margin-right:3px;
		padding:0
	}
	
	#main_navi img
	{
		height:43px
	}
	
	#login
	{
		text-align:center
	}
	
	#login .row
	{
		padding-top:0;
		padding-right:0
	}
	
	#login form
	{
		float:none
	}
}

@media (min-width: 441px) and (max-width: 767px) {
	#main_navi
	{
		margin-top:10px;
		margin-right:5px;
		margin-left:5px;
		padding-bottom:10px
	}
	
	#main_navi #responsive-menu ul
	{
		padding-top:0!important;
		text-align:left;
		width:100%
	}
	
	#main_navi button
	{
		margin-bottom:0;
		margin-top:25px!important;
		margin-right:3px;
		padding:0
	}
	
	#main_navi img
	{
		margin-left:5px;
		height:60px
	}
	
	#login
	{
		text-align:center
	}
	
	#login .row
	{
		padding-top:0;
		padding-right:0
	}
	
	#login form
	{
		float:none
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#main_navi
	{
		padding-bottom:10px
	}
	
	#main_navi img
	{
		height:60px
	}
	
	.navbar-nav > li > a
	{
		font-size:12px!important;
		letter-spacing:1.1px!important
	}
	
	.nav > li > a
	{
		padding:2px 5px
	}
	
	#main_navi #responsive-menu ul
	{
		padding-top:35px
	}
}

@media(min-width: 992px) {
	#main_navi
	{
		padding-bottom:5px
	}
}