@media(min-width: 200px){
    #main a{
        text-decoration: underline;
    }
    #main .button1{
        border-radius: 4px;
    }
    #main .col-xs-6{
        width: 100%;
        background-color: white;
        border-radius: 10px;
        padding-bottom: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 16px 5px #000000;
    }
    #main .control-label{
        text-align: center;
    }
    #main #page_title{
        background-color: transparent ;
    }
    #footer .container{
        height: 50px;
    }

}

@media(min-width: 480px){
    #main .col-xs-6{
        width: 70%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #main .col-xs-3{
        width: 15%;
    }
}
@media(min-width: 769px) {
    #main .col-xs-6 {
        width: 50%;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    #main .col-xs-3 {
        width: 25%;
    }

}
@media(min-width: 1200px){
    #main .col-xs-6{
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
