<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- page icon -->
    <link rel="shortcut icon" href="/resources/img/icon.ico" type="image/x-icon"/>
    <!-- page title -->
    <title>NetCracker-Start</title>
    <!-- import index.css-->
    <link href="/resources/css/index.css" rel="stylesheet"/>
</head>
<body>

<div class="wrap">

    <!-- include main navibar -->
    <div th:include="fragments/header :: header"></div>


    <div id="main">

        <!-- Title -->
        <div id="page_title" class="text-center">
            <h1>Учебно-научный центр Netcracker при НТУУ «КПИ»</h1>
            <h2>ищет передовых студентов на бесплатные ИТ курсы в Киеве</h2>
        </div>



        <!--          main_div_1             -->
        <div id="main_div_1" class="row">
            <div class="col-sm-6 col-md-5 col-lg-6">
                <img src="/resources/img/girl.png" alt="background img"/>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                <h2 style="font-family: Segoe Print;">
                    Успешный старт твоей будущей ИТ карьеры в нашей компании!
                </h2>
                <p>
                    <a th:href="@{registration}" class="btn btn-default button">
                        Регистрация на курсы</a>
                </p>
            </div>
        </div>



        <!--      main_div_2    -->
        <div id="main_div_2" class="container">
            <div class="row">
                <div id="icon1" class="col-sm-12 col-md-4">
                    <a href="#anchor">
                                    <span class="fa-stack fa-5x">
                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                      <i class="fa fa-users fa-stack-1x"></i>
                                    </span>

                        <h3>Кого мы ищем</h3>
                    </a>
                </div>
                <div id="icon2" class="col-sm-12 col-md-4">
                    <a href="#anchor">
                                    <span class="fa-stack fa-5x">
                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                      <i class="fa fa-info fa-stack-1x"></i>
                                    </span>

                        <h3>О курсах</h3>
                    </a>
                </div>
                <div id="icon3" class="col-sm-12 col-md-4">
                    <a href="#anchor">
                                    <span class="fa-stack fa-5x">
                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                      <i class="fa fa-question fa-stack-1x"></i>
                                    </span>

                        <h3>Как к нам попасть</h3>
                    </a>
                </div>
            </div>
        </div>


        <a id="anchor"></a>


        <!--  main_div_3 -->
        <div id="main_div_3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="titleee titleee_active"></div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="titleee"></div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="titleee"></div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading"><h2>Кого мы ищем?</h2>
                    </div>
                    <div class="panel-body">
                        <div style="
                                                    display: block;
                                                    visibility: visible;
                                                ">
                            <ul>
                                <li>Ты – студент 4-6 курса технической специальности или у тебя техническое (ИТ)
                                    образование
                                </li>
                                <li>Ты начал изучать программирование в университете или уверен в своих знаниях и хочешь
                                    их углубить
                                </li>
                                <li>Термины вроде «абстракция», «полиморфизм», «инкапсуляция» для тебя привычны и
                                    понятны
                                </li>
                                <li>Ты – достаточно ответственный и серьезный, чтобы регулярно посещать занятия в
                                    учебном центре
                                </li>
                                <li>Ты готов учиться и тратить время на проект</li>
                                <li>Ты знаешь английский или готов его подтянуть</li>
                                <li>Хочешь получить работу в компании – мировом лидере ИТ/телеком индустрии</li>
                            </ul>
                        </div>
                        <div style="
                                                    display: none;
                                                    visibility: hidden;
                                                ">
                            <ul>
                                <li><b>Обучение бесплатное</b></li>
                                <li>Курсы длятся 7 месяцев – неполный учебный год (октябрь 2015 – апрель 2016) с
                                    перерывом на сессию и каникулы
                                </li>
                                <li>Занятия проходят в вечернее время, 2-3 раза в неделю</li>
                                <li>Расписание согласовывается с набранной группой</li>
                            </ul>
                        </div>
                        <div style="
                                                    display: none;
                                                    visibility: hidden;
                                                ">
                            <ul>
                                <li>1. С 1 по 7 сентября 2015 регистрируйся на этом сайте (кнопка «Регистрация»)</li>
                                <li>2. Залогинься, заполни анкету (кнопка «Анкета»), загрузи свою фотографию (кнопка
                                    «Фотография»)
                                </li>
                                <li>3. Если твоя анкета успешно прошла отбор, тебя пригласят на собеседование.
                                    Приглашение придет на указанный в анкете e-mail – рекомендуем регулярно проверять
                                    почту в промежутке с 8 по 20 сентября
                                </li>
                                <li>4. Зайди на сайт и выбери подходящее для тебя время собеседования</li>
                                <li> 5. Распечатай анкету в черно-белом варианте на однм листе А4 с двух сторон (кнопка
                                    «Напечатать анкету»). Не забудь подписать
                                </li>
                                <li>6. Приходи с анкетой на собеседование</li>
                                <li>7. Тебя ждет 2 интервью: 1) с разработчиком, 2) с HR или аналитиком. После того как
                                    пройдешь оба, не забудь отдать анкету
                                </li>
                                <li>8. Проверяй свою почту регулярно, после 30 сентября мы всем сообщим результаты</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- include footer -->
    <div th:include="fragments/footer :: footer"></div>

</div>
<!-- include script for index page -->
<script src="/resources/js/index.js"></script>
</body>
</html>