.list-group{
/*	margin-top: 7px;*/
}
.right_alighn{
	margin-left: 20px;
/*	text-transform: uppercase;*/
}
#main hr{
	border-top: 1px solid #3d4955;
}
#main .col-md-9{
/*	border-left: solid;
	border-left-width: 1px;
	border-left-color: #3d4955;*/
	min-height: 500px;
}#main{
    min-height: 700px;
 }