#main .fb-edit-section-header{
    visibility: hidden;
    display: none;
}
#main .edit-response-field select{
    visibility: hidden;
    display: none;
}
#main .fb-edit-section-header{
    visibility: hidden;
    display: none;
}
#main .fb-common-checkboxes:after {
    visibility: hidden;
    display: none;
}
#savebtn{
    margin: 20px 20px;
    border-radius: 4px;
    width: 200px;
    text-align: center;
}
#savebtn span{
    margin-right: 5px
}
#formbuilder .fb-save-wrapper{
    position: fixed;
    z-index: 2;
}
#main{
    min-height: 700px;
}