#main_content{
	margin-left: 0px;
}
#main .row{

}
#left_toolbar .active{
	background-color: #4e79a0;
}
#left_toolbar .active a:hover{
	background-color: #4e79a0 !important;
}
#left_toolbar .active a{
	color: #ffffff;
}
#left_toolbar a:hover{
	color: black;
	background-color: #ffffff 
}

#main_content{
	border-left: 1px solid;
	background-color: #ffffff;
}
#page_title{
	background-color: #ffffff;
}
#left_toolbar{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 35px;
}
.right_alighn{
	margin-left: 20px;
/*	text-transform: uppercase;*/
}
.margin_top{
	margin-top: 3px;
}
#main_content a:hover{
     color: #ffffff;
    text-decoration: none;
 }
#main_content a{
    color: #ffffff;
}