<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/resources/img/icon.ico" type="image/x-icon"/>
    <!-- import entity.css-->
    <link href="/resources/css/entities/entity.css" rel="stylesheet"/>
</head>
<body>

<div class="wrap">

    <div th:include="fragments/entity_header :: header_entity"></div>

    <div id="main">

        <!-- V-2 -->
        <div class="container">
            <div>
                <h1 style="text-align: right;">Добро пожаловать, dev Иванов!</h1>
            </div>
            <hr/>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <div class="list-group">
                    <a th:href="@{dev}" class="list-group-item bgr-color1">
                        <span class="glyphicon glyphicon-home" style="float: left;"></span>
                        <span class="right_alighn">Домашняя страница</span>
                    </a>
                    <a th:href="@{profiles}" class="list-group-item ">
                        <span class="glyphicon glyphicon-home" style="float: left;"></span>
                        <span class="right_alighn">Просмотреть анкеты</span>
                    </a>
                    <a th:href="@{time}" class="list-group-item active">
                        <span class="glyphicon glyphicon-list-alt" style="float: left;"></span>
                        <span class="right_alighn">График собеседований</span>
                    </a>
                </div>
            </div>


            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9">
                <h1> Время собеседований </h1>

            </div>
        </div>
    </div>
    <!-- footer -->
    <div id="footer" class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <div>
                        <address>
                            <div><strong>Netcracker</strong> educational-research center</div>
                            <div><b>улица</b> Политехническая 41</div>
                            <div><b>аудитория</b> 420</div>
                            <div><b>По организационным вопросам — </b><a href="mailto:#">KievCareers@NetCracker.com</a>
                            </div>
                            <div><b>По проблемам или вопросам работе сайта — </b><a href="mailto:#">webmaster.nnc@gmail.com</a>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: footer"></div>

</body>
</html>