<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/resources/img/icon.ico" type="image/x-icon"/>
    <!-- import entity.css-->
    <link href="/resources/css/entities/entity.css" rel="stylesheet"/>
</head>
<body>

<div class="wrap">

    <div th:include="fragments/entity_header :: header_entity"></div>

    <div id="main">

        <!-- V-2 -->
        <div class="container">
            <div>
                <h1 style="text-align: right;">Добро пожаловать, dev Иванов!</h1>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <div class="list-group">
                    <a th:href="@{dev}" class="list-group-item bgr-color1">
                        <span class="glyphicon glyphicon-home" style="float: left;"></span>
                        <span class="right_alighn">Домашняя страница</span>
                    </a>
                    <a th:href="@{profiles}" class="list-group-item active">
                        <span class="glyphicon glyphicon-home" style="float: left;"></span>
                        <span class="right_alighn">Просмотреть анкеты</span>
                    </a>
                    <a th:href="@{time}" class="list-group-item">
                        <span class="glyphicon glyphicon-list-alt" style="float: left;"></span>
                        <span class="right_alighn">График собеседований</span>
                    </a>
                </div>
            </div>


            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9">
                <h1> Просмотреть анкеты</h1>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->


                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                <li><a href="#">Анкеты на собеседование</a></li>


                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search"/>
                                </div>
                                <button type="submit" class="btn btn-default">Найти</button>
                            </form>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>


                <!-- Panel  -->
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Список анкет</div>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        1 ФИО студента, курс, университет
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid.
                                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                    vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                                    denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                    <button type="button" class="btn btn-primary btn-sm">Оставить комментарий</button>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        2 ФИО студента, курс, университет
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                    <button type="button" class="btn btn-primary btn-sm">Оставить комментарий</button>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        3 ФИО студента, курс, университет
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                    <button type="button" class="btn btn-primary btn-sm">Оставить комментарий</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>